
body {
    background-color: #FAF3E0; /* A light, warm background color reminiscent of Indian sandstone */
    font-family: 'Laila', sans-serif; /* 'Laila' is a Google font that has a touch of the Indian script look */
    color: #5D2A28; /* Dark earthy tone for the text */
}

header, footer {
    background-color: #4A2F2F; /* Deep brownish-red color for header/footer backgrounds */
    color: #FFDAA5; /* Soft, sandy color for the text, ensuring readability */
    text-align: center;
    padding: 20px 0;
}

h1, h2 {
    font-family: 'Sahitya', serif; /* 'Sahitya' is another Google font with Indian flair */
    color: #BF9270; /* A saffron-inspired color, gives a pop to headings */
}
body {
    font-family: 'Laila', 'Sahitya', sans-serif;
}

.animated-section {
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
}

.tag {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 5px;
    animation: popIn 1s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

a {
    color: #C95D63; /* A color inspired by traditional Indian textiles */
    text-decoration: none; /* Removes the underline from links for a cleaner look */
}

a:hover {
    color: #A34645; /* A darker shade for hover effect */
    text-decoration: underline; /* Adds an underline on hover for a clear indication of a link */
}

.nav {
    background-color: #4A2F2F; /* Match the nav to the header/footer background */
    overflow: hidden;
}

.nav a {
    float: left;
    display: block;
    color: #FFDAA5; /* Same as the header/footer text color for consistency */
    text-align: center;
    padding: 14px 20px;
}

.nav a:hover {
    background-color: #BF9270; /* A lighter hover effect for the navigation links */
    color: #FAF3E0; /* Text color on hover for better contrast */
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
    padding: 50px 0; /* Adds more space to the hero section */
}

.hero h1 {
    font-size: 2.5em; /* Increases the size of the hero heading */
    color: #4A2F2F; /* Uses the header/footer background color for the text */
    background-color: rgba(255, 218, 165, 0.7); /* A translucent overlay to make text stand out */
    display: inline-block; /* Allows the background-color to wrap just around the text */
    margin: 0; /* Resets the margin */
    padding: 10px 20px; /* Adds padding around the text for spacing */
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
    .nav a {
        float: none;
        display: block;
        text-align: left;
    }

    .hero h1 {
        font-size: 2em; /* Slightly smaller font for smaller screens */
    }
}
